## Regression Tree

Y-contimuous일 경우, 해결책
1) Split measure의 변화 : entropy >> variance
2) 결과 노드의 선택 : class >> 해당 instance들의 Y 평균
3) 나머지는 다 같음

In [3]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('data/rental_price.csv', sep='\t')
df = df.drop('ID', axis=1)
df

    SEASON  WORK_DAY  RENTALS
0   winter     False      800
1   winter     False      826
2   winter      True      900
3   spring     False     2100
4   spring      True     4740
5   spring      True     4900
6   summer      True     3000
7   summer      True     5800
8   autumn     False     6200
9   autumn     False     2910
10  autumn      True     2880
11  summer     False     2820

In [9]:
def get_var(df):
  mean_value = df['RENTALS'].mean()
  number_of_data = len(df['RENTALS'])
  return sum((df['RENTALS'] - mean_value) ** 2 / (number_of_data-1))

In [10]:
get_var(df)

3569590.424242424

In [11]:
def get_attribute_weighted_var(df, attribute_name):
  levels = df[attribute_name].unique()
  sum_of_weighted_variance = []
  for level in levels:
    split_df = df.loc[df[attribute_name]==level]
    sum_of_weighted_variance.append(
      (len(split_df)/len(df) * get_var(split_df))
    )
  return sum(sum_of_weighted_variance)

In [12]:
get_attribute_weighted_var(df, "SEASON")
# 단, 실제로 CART는 Binary splitting을 실행함

2227148.0

In [13]:
get_attribute_weighted_var(df, "WORK_DAY")

3567498.666666667